.MyPokemonContainer {
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-between;
  margin: 0 5%;
  border-radius: 1rem;
}

.MyPokemonContainer > a {
  display: block;
  flex: 0 0 30%;
  margin: 1%;
}
.MyPokemonItem {
  /* width: 33%; */
  text-align: center;
  /* border: 1px solid black; */
}
.MyPokemonItem .PokemonSprite {
  position: relative;
  text-align: center;
  margin-top: 1rem;
}
.MyPokemonItem .PokemonSprite .Background {
  display: inline-block;
}

.MyPokemonItem .PokemonSprite .Background {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  background: #f2f2f2;
  /* margin: -25% -25%; */
}
.MyPokemonItem .PokemonSprite img {
  width: 100%;
  transform: scale(1.1, 1.1);
}

.MyPokemonItem h1 {
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: lighter;
  letter-spacing: 0.1rem;
}
.MyPokemonItem .TypeContainer {
  white-space: nowrap;
}
.MyPokemonItem .TypeContainer img {
  height: 0.8rem;
}

.ButtonBack {
  z-index: 10;
  position: fixed;
  bottom: 5vh;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 0 auto;
  padding: 0.5rem 3rem;
  text-align: center;
  border-radius: 5vh;
  border: 2px solid #fff;
  box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.25);
  background: rgb(80, 213, 223);
  background: linear-gradient(
    90deg,
    rgb(128, 128, 128) 0%,
    rgb(168, 168, 168) 100%
  );
  white-space: nowrap;
}
.ButtonBack > * {
  display: inline-block;
  vertical-align: middle;
}
.ButtonBack h1 {
  font-size: 1rem;
  color: #fff;
  font-weight: normal;
  text-align: center;
  margin-top: -0.25rem;
  letter-spacing: 0.1rem;
}
