.PageWildPokemon {
}

.WildPokemonContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;
  /* height: 100vh; */
  /* margin-top: 2.5vh; */
  /* overflow-y: scroll; */
  /* padding-bottom: 15vh; */
}

.WildPokemonContainer > a {
  display: block;
  flex: 0 0 15%;
  /* margin: 1%; */
}
.WildPokemonItem {
  width: 100%;
  /* background: #fff; */
  border-radius: 1rem;
  padding: 0.1rem 0.25rem;
  text-align: left;
}
.WildPokemonItem.hasPokemon {
  opacity: 0.25;
}
.WildPokemonItem > * {
  display: inline-block;
  vertical-align: middle;
}

.WildPokemonItem .PokemonSprite {
  margin: 2.5% 0rem;
  /* left: -0.5rem; */
  position: relative;
}

.WildPokemonItem .PokemonSprite .Background {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  background: #e7eeef;
  /* margin: -25% -25%; */
  border: 3px #fff solid;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
}
.WildPokemonItem .PokemonSprite img {
  width: 100%;
  transform: scale(1.5, 1.5);
  /* margin: -25% -25%; */
}

.WildPokemonItem .PokemonInfo {
  margin-top: 0rem;
}
.WildPokemonItem h1 {
  font-size: 0.8rem;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  text-transform: capitalize;
}
.WildPokemonItem .TypeContainer {
  white-space: nowrap;
  text-align: left;
}
.WildPokemonItem .TypeContainer img {
  height: 0.8rem;
}

/* .ButtonContainer {
  overflow: hidden;
  height: 10vh;
  position: fixed;
  bottom: 5vh;
  width: 100%;
} */
.ButtonMyPokemon {
  z-index: 10;
  position: fixed;
  bottom: 5vh;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 0 auto;
  padding: 0.5rem 3rem;
  text-align: center;
  border-radius: 5vh;
  border: 2px solid #fff;
  box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.25);
  background: rgb(80, 213, 223);
  background: linear-gradient(
    90deg,
    rgba(80, 213, 223, 1) 0%,
    rgba(96, 218, 153, 1) 100%
  );
  white-space: nowrap;
}
.ButtonMyPokemon > * {
  display: inline-block;
  vertical-align: middle;
}
.ButtonMyPokemon img {
  height: 1rem;
  margin-right: 0.5rem;
}
.ButtonMyPokemon .Text h2 {
  font-size: 0.75rem;
  color: #fff;
  font-weight: normal;
  text-align: center;
  margin-top: -0.25rem;
  letter-spacing: 0.1rem;
}
.ButtonMyPokemon .Text h1 {
  position: relative;
  top: 0.15rem;
  text-align: center;
  font-size: 1.4rem;
  color: #fff;
  background: #36b7a8;
  border-radius: 10rem;
  padding: 0 1.5rem 0.15rem;
}
.ButtonMyPokemon .Text h1 span {
  color: #7bddd2;
  font-size: 0.9rem;
  font-weight: lighter;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 320px) {
  .WildPokemonItem {
    width: 95%;
    margin: 1%;
    padding: 0rem 1rem;
  }
}
